## SQL Project with 3 datasets

### datasets


* Chicago Census Data


* Chicago Public Schools


* Chicago Crime Data

In [1]:
!pip install pandas
!pip install ipython-sql prettytable 

import prettytable

prettytable.DEFAULT = 'DEFAULT'

Collecting pandas
  Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.5-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 134.5 MB/s eta 0:00:00
Downloading numpy-2.3.5-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 156.4 MB/s eta 0:00:00
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.3.5 pandas-2.3.3 tzdata-2025.2
Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable
  Downloading prettytable-3.17.0-py3-none-any.whl.metadata (34 kB)
Requirement already satisfied: ipython in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (8.31.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (2.0.37)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.4-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.12/site-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading prettytable-3.17.0-py3-none-any.whl (34 kB)
Downloading sqlparse-0.5.4-py3-none-any.whl (45 kB)
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.5.0 prettytable-3.17.0 sqlparse-0.5.4

### Storing the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

In [ ]:
CHICAGO_CRIME_DATA = pd.read_csv("ChicagoCrimeData.csv")
CHICAGO_PUBLIC_SCHOOLS = pd.read_csv("ChicagoPublicSchools.csv")
CHICAGO_CENSUS_DATA = pd.read_csv("ChicagoCensusData.csv")

In [2]:
import pandas as pd
import sqlite3 as sql
conn = sql.connect('FinalDB.db')

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
%sql sqlite:///FinalDB.db

In [ ]:
CHICAGO_CRIME_DATA.to_sql('crime_data', conn, if_exists='replace', index=False)
CHICAGO_PUBLIC_SCHOOLS.to_sql('public_schools', conn, if_exists='replace', index=False)
CHICAGO_CENSUS_DATA.to_sql('census_data', conn, if_exists='replace', index=False)

conn.close()





##### Total number of crimes recorded in the CRIME table.

In [7]:
%sql select count(*) as total_crimes from CHICAGO_CRIME_DATA

 * sqlite:///FinalDB.db
Done.

[(533,)]



##### Community area names and numbers with per capita income less than 11000.

In [36]:
%sql select community_area_name, community_area_number from CENSUS_DATA where per_capita_income <11000

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park', 26.0),
 ('South Lawndale', 30.0),
 ('Fuller Park', 37.0),
 ('Riverdale', 54.0)]



##### All case numbers for crimes involving minors.(Children are not considered minors for the purposes of crime analysis)

In [69]:
%%sql SELECT case_number FROM CHICAGO_CRIME_DATA WHERE description LIKE '%minor%'
   OR description LIKE '%juvenile%'
   OR description LIKE '%underage%'
   AND description NOT LIKE '%child%'

 * sqlite:///FinalDB.db
Done.

[('HL266884',), ('HK238408',)]



##### Kind of crimes that were recorded at schools. (With no repetitions)

In [76]:
%sql SELECT distinct primary_type FROM CHICAGO_CRIME_DATA WHERE location_description LIKE '%school%'

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]



##### Type of schools along with the average safety score for each type.

In [82]:
%sql SELECT "Elementary, Middle, or High School", AVG("Safety_Score") as average_safety_score FROM CHICAGO_PUBLIC_SCHOOLS GROUP BY "Elementary, Middle, or High School"

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]



##### 5 community areas with highest % of households below poverty line.

In [37]:
%sql select community_area_name from CENSUS_DATA order by percent_households_below_poverty desc limit 5

 * sqlite:///FinalDB.db
Done.

[('Riverdale',),
 ('Fuller Park',),
 ('Englewood',),
 ('North Lawndale',),
 ('East Garfield Park',)]



##### Community area most crime prone displaying the community area number only.

In [41]:
%sql SELECT community_area_number FROM CHICAGO_CRIME_DATA WHERE community_area_number IS NOT NULL GROUP BY community_area_number ORDER BY count(*) DESC LIMIT 1

 * sqlite:///FinalDB.db
Done.

[(25.0,)]



#####  Community area with highest hardship index

In [42]:
%sql select community_area_name from CENSUS_DATA where hardship_index = (select max(hardship_index) from CENSUS_DATA)

 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]



##### Using a sub-query to determine the Community Area Name with most number of crimes.

In [8]:
%%sql
SELECT COMMUNITY_AREA_NAME
FROM CENSUS_DATA
WHERE COMMUNITY_AREA_NUMBER = (
    SELECT COMMUNITY_AREA_NUMBER
    FROM CHICAGO_CRIME_DATA
    GROUP BY COMMUNITY_AREA_NUMBER
    ORDER BY COUNT(*) DESC
    LIMIT 1
);

 * sqlite:///FinalDB.db
Done.

[('Austin',)]